<h1>STOP!</h1>
<h4>You are not allowed to do that, or have reached this page in error</h4>
<h6>You may go <%= link_to "BACK", :back %> to what you were doing, or visit the <%= link_to "Homepage", root_path %>.
<div id="error-image">
	<%= image_tag "stop.jpg", size: "500" %>
</div>
