<div class="jumbotron text-center">
	<h2>Get Started With [Insert App Title]</h2>
	<h4>Example text 1234567</h4>
	<%= link_to "Sign Up", '#', class: "btn btn-lg btn-primary" %>

	<p>Have an account? <%= link_to "Log in here", '#' %></p>
</div>

<div class="home-description text-center">
	<h3>More example text here</h3>
	<div class="row">
		<div class="col-md-4">
			Area 1
		</div>
		<div class="col-md-4">
			Area 2
		</div>
		<div class="col-md-4">
			Area 3
		</div>
	</div>
</div>